:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}


body {
  color: white;
  background: rgb(69,123,157);
  background: linear-gradient(90deg, rgba(69,123,157,1) 1%, rgba(190,149,196,1) 49%, rgba(190,149,196,1) 100%);
  background-size: 300% 300%;
  margin: 0;
  padding: 0;
}


main {
  margin: 0;
  padding: 1rem;
  transition: 200ms ease;
}

